<div class="automate-card">
	<img class="automate-card__graph-img" src="./images/background/graph.png" alt="Graph" />
	<h2 class="automate-card__title">Автоматизируйте бизнес-процессы</h2>
	<div class="automate-card__info">
		<p class="automate-card__description">
			Подключайте привычные приложения, которые вы используете в работе.
		</p>
		<div class="automate-card__subscribe automate-card__subscribe--active">
			<form class="automate-card__form" action="index.html" method="POST">
				<label class="automate-card__label">
					<input class="automate-card__input" type="text" placeholder="Введите email" />
				</label>
				<button type="submit" class="automate-card__btn">Узнать</button>
			</form>
		</div>
		<div class="automate-card__success">
			<span class="automate-card__success-text">Проверьте e-mail!</span>
		</div>
	</div>
</div>