<div class="notify-card">
  <h6 class="notify-card__title">Интеграции</h6>
  <div class="notify-card__items">
    <div class="notify-card__item">
      <img
        class="notify-card__item-img"
        src="./images/notify-card/img1.png"
        alt="How you get notified"
      />
      <p class="notify-card__item-desc">Push-web уведомления</p>
    </div>
    <div class="notify-card__item">
      <img
        class="notify-card__item-img"
        src="./images/notify-card/img2.png"
        alt="How you get notified"
      />
      <p class="notify-card__item-desc">E-mail уведомления</p>
    </div>
    <div class="notify-card__item">
      <img
        class="notify-card__item-img"
        src="./images/notify-card/img3.png"
        alt="How you get notified"
      />
      <p class="notify-card__item-desc">Telegram</p>
    </div>
  </div>
</div>
