<div class="subscribe-form">
  <form class="subscribe-form__form subscribe-form--active" action="index.html" method="POST">
    <label class="subscribe-form__label">
      <input
        class="subscribe-form__input"
        type="text"
        placeholder="Введите email"
      />
    </label>
    <button type="submit" class="subscribe-form__btn">Узнать</button>
  </form>
  <div class="subscribe-form__success">
    <span class="subscribe-form__success-text">Проверьте e-mail!</span>
  </div>
</div>
