.who-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 346px;
  padding: 0 54px 30px 54px;

  overflow: hidden;

  @include max768 {
    max-width: 200px;
    min-height: 300px;
    padding: 0;
  }

  &__title {
    color: $BlackPrimary;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.44px;

    margin: 0 0 12px 0;

    @include max768 {
      margin: 0 0 24px 0;
    }

    @include max480 {
      text-align: center;

      margin: 0 0 12px 0;
    }
  }

  &__img {
    align-self: center;

    margin: 0 0 37px 0;

    @include max768 {
      max-height: 135px;
      width: auto;
      margin: 0 0 30px 0;
    }
  }

  &__description {
    color: $BlackPrimary;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.45px;

    @include max768 {
      font-size: 16px;
      line-height: 20px;
    }

    @include max480 {
      text-align: center;
    }
  }
}
