.banks {
  width: 100%;
  margin: 0 0 160px 0;

  @include max768 {
    margin: 0 0 110px 0;
  }

  &__title {
    color: $BlackPrimary;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 1px;

    margin: 0 0 90px 0;

    @include max1100 {
      text-align: center;
    }

    @include max768 {
      text-align: center;
      margin: 0 0 70px 0;
    }

    @include max480 {
      font-size: 32px;
      line-height: 38px;

      margin: 0 0 40px 0;
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @include max1100 {
      flex-direction: column;
      align-items: center;
    }

    @include max768 {
      gap: 40px;
    }

    @include max480 {
      gap: 30px;
    }
  }

  &__card-wrapper {
    width: 535px;
    display: flex;
    align-items: stretch;

    @include max768 {
      width: 100%;
    }
  }
}
