.info {
  width: 100%;

  margin: 0 0 150px 0;

  @include max768 {
    margin: 0 0 110px 0;
  }

  @include max480 {
    margin: 0 0 95px 0;
  }

  &__wrapper {
    @include max1100 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
