<div class="banks-card">
	<h6 class="banks-card__title">Банки</h6>
	<div class="banks-card__banks">
		<picture class="banks-card__img">
			<source srcset="./images/banks-caimg1_mobile.png" media="(max-width: 480px)">
			<img src="./images/banks-caimg1.png" alt="bank name">
		</picture>
		<picture class="banks-card__img">
			<source srcset="./images/banks-caimg2_mobile.png" media="(max-width: 480px)">
			<img src="./images/banks-caimg2.png" alt="bank name">
		</picture>
		<picture class="banks-card__img">
			<source srcset="./images/banks-caimg3_mobile.png" media="(max-width: 480px)">
			<img src="./images/banks-caimg3.png" alt="bank name">
		</picture>
	</div>
	<picture class="banks-card__other-img">
		<source srcset="./images/banks-caimg4_mobile.png" media="(max-width: 480px)">
		<img src="./images/banks-caimg4.png" alt="Other">
	</picture>
</div>