.how-card {
  width: 350px;
  min-height: 237px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;

  overflow: hidden;

  @include max1100 {
    min-height: 170px;
    max-width: 205px;
  }

  &__img {
    @include max1100 {
      max-height: 100px;
      width: auto;
    }
  }

  &__description {
    max-width: 260px;

    color: $BlackPrimary;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.44px;

    text-align: center;

    @include max1100 {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
