<div class="case-card swiper-slide">
	<div class="case-card__images">
		<img class="case-card__img" src="./images/case-cards/b24.png" alt="b24" />
		<img class="case-card__img" src="./images/case-cards/everypay.png" alt="everypay" />
		<img class="case-card__img" src="./images/case-cards/telegram.png" alt="telegram" />
	</div>
	<div class="case-card__info">
		<h3 class="case-card__title">Автоматизация диджитал-агентства</h3>
		<button type="button" class="case-card__expand-btn">Читать кейс</button>
	</div>
</div>