<div class="banks-card">
  <h6 class="banks-card__title">Банки</h6>
  <div class="banks-card__banks">
    <picture class="banks-card__img">
      <source srcset="./images/banks-card/img1_mobile.png" media="(max-width: 480px)">
      <img src="./images/banks-card/img1.png" alt="bank name">
    </picture>
    <picture class="banks-card__img">
      <source srcset="./images/banks-card/img2_mobile.png" media="(max-width: 480px)">
      <img src="./images/banks-card/img2.png" alt="bank name">
    </picture>
    <picture class="banks-card__img">
      <source srcset="./images/banks-card/img3_mobile.png" media="(max-width: 480px)">
      <img src="./images/banks-card/img3.png" alt="bank name">
    </picture>
  </div>
  <picture class="banks-card__other-img">
    <source srcset="./images/banks-card/img4_mobile.png" media="(max-width: 480px)">
    <img src="./images/banks-card/img4.png" alt="Other">
  </picture>
</div>
