<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<img class="footer__bg-graph" src="./images/background/graph.png" alt="Graph" />
			<div class="footer__content">
				<div class="footer__info">
					<h2 class="footer__title">Подключиться</h2>
					<p class="footer__desc">
						Хотите начать пользоваться системой? Напишите нам.
					</p>
					<div class="footer__email">
						<p class="footer__email-title">email</p>
						<p class="footer__email-text">hello@everypay.io</p>
					</div>
				</div>
			</div>
			<div class="footer__copyright">
				<p class="footer__copyright-text">&copy; 2020, Everypay</p>
				<a href="#" class="footer__copyright-policies">Политика конфиденциальности</a>
			</div>
		</div>
	</div>
</footer>