.rates-card {
  display: flex;
  justify-content: center;
  gap: 47px;

  &__col-1 {
    display: flex;
    flex-direction: column;

    @include max900 {
      align-items: center;
    }
  }

  &__col-2 {
    display: flex;
    align-items: center;

    @include max768 {
      display: none;
    }
  }

  &__title {
    color: $BlackPrimary;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.99px;
    margin: 0 0 28px 0;

    @include max900 {
      text-align: center;
      margin: 0 0 70px 0;
    }

    @include max480 {
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 40px 0;
    }
  }

  &__info {
    max-width: 565px;
    margin: 0 0 40px 0;
  }

  &__desc {
    color: $BlackPrimary;
    font-size: 24px;
    font-weight: 34px;
    letter-spacing: 0.71px;

    @include max900 {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__desc--1 {
    margin: 0 0 40px 0;
  }
}
