<div class="rates-card">
	<h2 class="rates-card__title">Тарифы</h2>
	<div class="rates-card__info">
		<p class="rates-card__desc rates-card__desc--1">
			Everypay находится в стадии закрытого beta-теста, но у вас есть
			возможность присоединиться к тестированию сервиса.
		</p>
		<p class="rates-card__desc rates-card__desc--2">
			Для компаний, участвующих в тестировании, сервис навсегда бесплатен.
			Напишите нам и мы с вами свяжемся.
		</p>
	</div>
	<div class="rates-card__subscribe rates-card__subscribe--active">
		<form class="rates-card__form" action="index.html" method="POST">
			<label class="rates-card__label">
				<input class="rates-card__input" type="text" placeholder="Введите email" />
			</label>
			<button type="submit" class="rates-card__btn">Узнать</button>
		</form>
	</div>
	<div class="rates-card__success">
		<span class="rates-card__success-text">Проверьте e-mail!</span>
	</div>
	<img class="rates-card__img" src="./images/rates-caimg1.png" alt="Ruble currency" />
</div>