.case-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;

  border: 1px solid rgba($BlueBorder, 0.2);
  padding: 33px 24px 20px 24px;

  min-width: 300px;
  max-width: 300px;

  min-height: 300px;

  user-select: none;
  overflow: hidden;

  &:hover {
    background: $LightBlue;
    border: none;
    border: 1px solid transparent;
    border-bottom: 3px solid $BluePrimary;
  }

  @include max480 {
    min-width: 190px;
    max-width: 190px;

    min-height: 170px;

    padding: 20px 16px;
  }

  &__images {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__img {
    @include max480 {
      max-height: 25px;
    }
  }

  &__title {
    color: $BlackPrimary;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.44px;

    margin: 0 0 20px 0;

    @include max480 {
      font-size: 18px;
      line-height: 24px;

      margin: 0 0 16px 0;
    }
  }

  &__expand-btn {
    background: $BlueGradient;
    @include GradientText;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: $BluePrimary;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    letter-spacing: 0.37px;

    border: none;
    outline: none;

    &:after {
      content: $ExpandArrow;
      width: 15px;
      height: 15px;

      align-self: center;
    }

    &:hover {
      filter: contrast(200%);
      transition: filter $TransitionHover;
    }
  }
}
