<div class="connect-form">
	<form class="connect-form__form" action="index.html" method="POST">
		<label class="connect-form__label">
			<input class="connect-form__input connect-form__input--name" type="text" placeholder="Ваше имя*" />
		</label>
		<label class="connect-form__label">
			<input class="connect-form__input connect-form__input--email" type="text" placeholder="Email*" />
		</label>
		<label class="connect-form__label">
			<textarea class="connect-form__input connect-form__input--about" placeholder="Расскажите о своей компании*"></textarea>
		</label>
		<button type="submit" class="connect-form__btn">Подключиться</button>
	</form>
	<p class="connect-form__success">
		Спасибо!
		<br />
		Мы приняли ваш запрос.
		<br />
		<br />
		В ближайшее время наш специалист поддержки свяжется с вами.
	</p>
</div>