<div class="mobile-menu">
	<div class="mobile-menu__top-bar">
		<img src="images/logo/logo.png" alt="Logo" class="mobile-menu__logo" />
		<div class="mobile-menu__toggle">
			<div class="mobile-menu__toggle-line"></div>
			<div class="mobile-menu__toggle-line"></div>
		</div>
	</div>
	<div class="mobile-menu__nav">
		<ul class="mobile-menu__list">
			<li class="mobile-menu__list-item">
				<a href="#" class="mobile-menu__list-link">Как это работает?</a>
			</li>
			<li class="mobile-menu__list-item">
				<a href="#" class="mobile-menu__list-link">Для кого</a>
			</li>
			<li class="mobile-menu__list-item">
				<a href="#" class="mobile-menu__list-link">Кейсы</a>
			</li>
			<li class="mobile-menu__list-item">
				<a href="#" class="mobile-menu__list-link">Тарифы</a>
			</li>
			<li class="mobile-menu__list-item">
				<a href="#" class="mobile-menu__list-link">Безопасность</a>
			</li>
			<li class="mobile-menu__list-item">
				<a href="#" class="mobile-menu__list-link">Контакты</a>
			</li>
		</ul>
		<button type="button" class="mobile-menu__btn">Вход</button>
	</div>
</div>