<!-- CS - COMING SOON -->

<div class="cs-card">
  <h3 class="cs-card__title">Интеграции с CRM-системами Битрикс 24 и amoCRM</h3>
  <div class="cs-card__info">
    <p class="cs-card__desc">
      Интегрируйте уведомления о платежах прямо в вашу CRM, в которой работают
      ваши сотрудники
    </p>
    <div class="cs-card__images">
      <img
        class="cs-card__img"
        src="./images/cs-cards/card1/img1.png"
        alt="b24"
      />
      <img
        class="cs-card__img"
        src="./images/cs-cards/card1/img2.png"
        alt="crm"
      />
    </div>
  </div>
</div>
