@mixin GradientText {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ------------------ Media Queries ------------------ */

@mixin mobile {
  @media screen and (max-width: $breakpoint480) {
    @content;
  }
}

@mixin max1300 {
  @media screen and (max-width: $breakpoint1300) {
    @content;
  }
}

@mixin max1100 {
  @media screen and (max-width: $breakpoint1100) {
    @content;
  }
}

@mixin max900 {
  @media screen and (max-width: $breakpoint900) {
    @content;
  }
}

@mixin max768 {
  @media screen and (max-width: $breakpoint768) {
    @content;
  }
}

@mixin max480 {
  @media screen and (max-width: $breakpoint480) {
    @content;
  }
}

@mixin max320 {
  @media screen and (max-width: $breakpoint320) {
    @content;
  }
}
