html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea,
select,
button {
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;

  &:focus {
    color: $BluePrimary;
    background: transparent;
    border: 1px solid $BluePrimary;
    box-shadow: 0 0 10px $ButtonShadow;
  }
}

a,
a:visited {
  text-decoration: none;
}
