/* ------------------ Colours ------------------ */
$FullWhite: rgba(255, 255, 255, 1);
$FullBlack: rgb(0, 0, 0);

$BlackPrimary: rgba(45, 50, 56, 1);
$BlackPrimary05: rgba(45, 50, 56, 0.5);

$Gray: rgba(85, 94, 104, 1);

$GrayedOut: rgba(85, 94, 104, 0.5);

$LightBlue: rgba(243, 249, 255, 1);
$LightBlueAlt: rgb(243, 249, 255);

$BluePrimary: rgba(23, 146, 199, 1);
$BlueSecondary: rgba(19, 153, 207, 1);
$BlueTertiary: rgba(24, 147, 200, 1);

$BlueOther: rgba(0, 184, 240, 1);

$BlueBorder: rgb(56, 152, 254);
$BlueLight: rgba(178, 238, 252, 1);

$BlueGradient: linear-gradient(180deg, rgb(23, 146, 199) 0%, rgb(0, 184, 240) 100%);
$BlueGradientLight: linear-gradient(180deg, rgb(0, 184, 240) 0%, rgb(0, 184, 240) 0.01%, #B2EEFC 73.96%);



/* ------------------ Hover Effects ------------------ */
$ButtonShadow: rgba(53, 152, 254, 0.4);
$TransitionHover: 0.15s ease-in;
$InputShadow: rgb(190, 229, 238);

/* ------------------ Images ------------------ */
$ExpandArrow: url("../img/svg/arrow.svg");

/* ------------------ Breakpoints ------------------ */
$breakpoint1300: 1300px;
$breakpoint1100: 1100px;
$breakpoint900: 900px;
$breakpoint768: 768px;
$breakpoint600: 600px;
$breakpoint480: 480px;
