.automate-card {
  background: $LightBlueAlt;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 60px 92px;

  overflow: hidden;

  @include max1100 {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 60px 0;
  }

  &__graph-img {
    position: absolute;
    top: 0;
    right: 85px;
    z-index: 0;

    @include max1100 {
      right: 0px;
    }

    @include max768 {
      right: -150px;
    }
  }

  &__title {
    color: $BlackPrimary;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.99px;

    margin: 0 37px 0 0;

    flex-basis: 50%;

    @include max1100 {
      max-width: 440px;
      text-align: center;
      margin: 0 0 24px 0;
    }

    @include max480 {
      width: 100%;

      font-size: 28px;
      line-height: 36px;

      margin: 0 0 12px 0;
    }
  }

  &__content {
    flex-basis: 50%;

    @include max1100 {
      max-width: 440px;
      flex-basis: 100%;
    }
  }

  &__description {
    color: $BlackPrimary;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.44px;

    margin: 0 0 60px 0;

    @include max1100 {
      text-align: center;
      margin: 0 0 48px 0;
    }

    @include max480 {
      margin: 0 0 20px 0;
    }
  }
}
