<div class="menu">
  <img src="images/logo/logo.png" alt="Logo" class="menu__logo" />
  <ul class="menu__list">
    <li class="menu__list-item">
      <a href="#" class="menu__list-link">Как это работает?</a>
    </li>
    <li class="menu__list-item">
      <a href="#" class="menu__list-link">Для кого</a>
    </li>
    <li class="menu__list-item">
      <a href="#" class="menu__list-link">Кейсы</a>
    </li>
    <li class="menu__list-item">
      <a href="#" class="menu__list-link">Тарифы</a>
    </li>
    <li class="menu__list-item">
      <a href="#" class="menu__list-link">Безопасность</a>
    </li>
  </ul>
  <ul class="menu__lang">
    <li class="menu__lang-item menu__lang-item--active">RU</li>
    <li class="menu__lang-item">EN</li>
  </ul>
  <button type="button" class="menu__btn">Подключиться</button>
</div>
